# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 76dd4886c32d3669e882705a45286af4344806b034ba5202ffdd8b5938dbb364df747168674ecf3699c2ccfa7ca25c3a6c2744d83cc27a341ca9443c9380e406

test:
  secret_key_base: f7b0ababde9256a79e1a6b9579f0df0df5a4215fe07db5a9ce636512cf906405550d1bbfc1521c0d619a35c6e08837d0cad2ebc9dbfe3a83a69747f8fa705931

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
